<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Our Accomodations | MyBNB</title>
</head>

<body>
    <form action="/search" method="get" th:object="${query}">
        <h2>Search Our Accomodations</h2>

        <table>
            <tr>
                <td>
                    Country:
                </td>
                <td>
                    <select name="country">
                        <option th:each="country : ${countryList}" th:value="${country}" th:text="${country}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Number of person:
                </td>
                <td>
                    <input type="number" name="numberOfPersons" data-th-field="*{numberOfPersons}" />
                </td>
            </tr>
            <tr>
                <td>
                    Price Range:
                </td>
                <td>
                    Min: <input type="number" name="rangeMin" data-th-field="*{rangeMin}" /> Max: <input type="number"
                        name="rangeMax" data-th-field="*{rangeMax}" />
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <button type="submit">Search</button>
                </td>
            </tr>
        </table>
        <div th:if="${#fields.hasAnyErrors()}" style="color: red;">
            <ul>
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}">
            </ul>
        </div>
    </form>



</body>

</html>